body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
  /*  background-image: url(/img/anhbia.jpg) ;*/
  background-image: url(/DangKy/anhbia.jpg);
    background-size: cover;
}
.login-box{
    width: 280px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.login-box h2{
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid #4caf50;
    margin-bottom: 50px;
    padding: 12px 0;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #4caf50;
    
}

.textbox i {
    width: 26px;
    display: inline-block;
    text-align: center;
}
.textbox input{
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 16px;
    width: 80%;
    margin: 0 6px;
}
.btn{
    width: 100%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    margin-top: 16px;
    cursor: pointer;
    transition: 0.2s;
}
.btn:hover{
    background: #4caf50;
}